.state-default-size-wrapper {
  align-items: flex-start;
  display: inline-flex;
  position: relative;
}

.state-default-size-wrapper .x-xsmall-wrapper {
  align-items: center;
  background-color: var(--customcolorsblueblue-1);
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 3px;
  height: 16px;
  padding: 4px 7px;
  position: relative;
}

.state-default-size-wrapper .x-xsmall {
  color: var(--customcolorsblueprimary-blue);
  font-family: var(--other-tiny-bold-font-family);
  font-size: var(--other-tiny-bold-font-size);
  font-style: var(--other-tiny-bold-font-style);
  font-weight: var(--other-tiny-bold-font-weight);
  letter-spacing: var(--other-tiny-bold-letter-spacing);
  line-height: var(--other-tiny-bold-line-height);
  margin-bottom: -7px;
  margin-top: -9px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
