:root {
  --customcolorsblueblue-1: rgba(198, 223, 255, 1);
  --customcolorsblueblue-10: rgba(0, 63, 140, 1);
  --customcolorsblueblue-2: rgba(178, 213, 255, 1);
  --customcolorsblueblue-3: rgba(153, 199, 255, 1);
  --customcolorsblueblue-4: rgba(119, 180, 255, 1);
  --customcolorsblueblue-5: rgba(73, 155, 255, 1);
  --customcolorsblueblue-7: rgba(0, 102, 228, 1);
  --customcolorsblueblue-8: rgba(0, 87, 193, 1);
  --customcolorsblueblue-9: rgba(0, 74, 164, 1);
  --customcolorsblueprimary-blue: rgba(13, 123, 255, 1);
  --customcolorsdarkdark-1: rgba(193, 193, 212, 1);
  --customcolorsdarkdark-10: rgba(15, 15, 21, 1);
  --customcolorsdarkdark-2: rgba(173, 173, 197, 1);
  --customcolorsdarkdark-3: rgba(145, 145, 178, 1);
  --customcolorsdarkdark-4: rgba(109, 109, 153, 1);
  --customcolorsdarkdark-5: rgba(73, 73, 105, 1);
  --customcolorsdarkdark-7: rgba(24, 24, 34, 1);
  --customcolorsdarkdark-8: rgba(20, 20, 29, 1);
  --customcolorsdarkdark-9: rgba(17, 17, 24, 1);
  --customcolorsdarkprimary-dark: rgba(28, 28, 40, 1);
  --customcolorsgraygray-1: rgba(219, 221, 232, 1);
  --customcolorsgraygray-10: rgba(53, 58, 84, 1);
  --customcolorsgraygray-2: rgba(207, 210, 225, 1);
  --customcolorsgraygray-3: rgba(191, 195, 215, 1);
  --customcolorsgraygray-4: rgba(170, 175, 201, 1);
  --customcolorsgraygray-5: rgba(141, 148, 183, 1);
  --customcolorsgraygray-7: rgba(86, 95, 137, 1);
  --customcolorsgraygray-8: rgba(73, 80, 116, 1);
  --customcolorsgraygray-9: rgba(62, 68, 99, 1);
  --customcolorsgrayprimary-gray: rgba(103, 112, 159, 1);
  --customcolorsgreengreen-1: rgba(184, 253, 236, 1);
  --customcolorsgreengreen-10: rgba(3, 102, 78, 1);
  --customcolorsgreengreen-2: rgba(160, 252, 229, 1);
  --customcolorsgreengreen-3: rgba(129, 251, 221, 1);
  --customcolorsgreengreen-4: rgba(87, 250, 209, 1);
  --customcolorsgreengreen-5: rgba(31, 248, 194, 1);
  --customcolorsgreengreen-7: rgba(5, 167, 126, 1);
  --customcolorsgreengreen-8: rgba(4, 142, 107, 1);
  --customcolorsgreengreen-9: rgba(4, 120, 91, 1);
  --customcolorsgreenprimary-green: rgba(6, 196, 148, 1);
  --customcolorskindnesskindness-1: rgba(255, 196, 229, 1);
  --customcolorskindnesskindness-10: rgba(136, 0, 77, 1);
  --customcolorskindnesskindness-2: rgba(255, 176, 221, 1);
  --customcolorskindnesskindness-3: rgba(255, 150, 210, 1);
  --customcolorskindnesskindness-4: rgba(255, 115, 194, 1);
  --customcolorskindnesskindness-5: rgba(255, 68, 174, 1);
  --customcolorskindnesskindness-7: rgba(222, 0, 126, 1);
  --customcolorskindnesskindness-8: rgba(189, 0, 107, 1);
  --customcolorskindnesskindness-9: rgba(160, 0, 91, 1);
  --customcolorskindnessprimary-kindness: rgba(255, 6, 149, 1);
  --customcolorslightlight-1: rgba(255, 255, 255, 1);
  --customcolorslightlight-10: rgba(103, 103, 139, 1);
  --customcolorslightlight-2: rgba(246, 246, 249, 1);
  --customcolorslightlight-3: rgba(244, 244, 247, 1);
  --customcolorslightlight-4: rgba(240, 240, 244, 1);
  --customcolorslightlight-5: rgba(235, 235, 240, 1);
  --customcolorslightlight-7: rgba(188, 188, 205, 1);
  --customcolorslightlight-8: rgba(154, 154, 180, 1);
  --customcolorslightlight-9: rgba(125, 125, 159, 1);
  --customcolorslightprimary-light: rgba(228, 228, 235, 1);
  --customcolorsorangeorange-1: rgba(255, 224, 188, 1);
  --customcolorsorangeorange-10: rgba(120, 64, 0, 1);
  --customcolorsorangeorange-2: rgba(255, 214, 166, 1);
  --customcolorsorangeorange-3: rgba(255, 200, 136, 1);
  --customcolorsorangeorange-4: rgba(255, 181, 97, 1);
  --customcolorsorangeorange-5: rgba(255, 157, 44, 1);
  --customcolorsorangeorange-7: rgba(195, 104, 0, 1);
  --customcolorsorangeorange-8: rgba(165, 88, 0, 1);
  --customcolorsorangeorange-9: rgba(141, 75, 0, 1);
  --customcolorsorangeprimary-orange: rgba(229, 122, 0, 1);
  --customcolorspurpleprimary-purple: rgba(77, 0, 153, 1);
  --customcolorspurplepurple-1: rgba(213, 170, 255, 1);
  --customcolorspurplepurple-10: rgba(40, 0, 80, 1);
  --customcolorspurplepurple-2: rgba(199, 142, 255, 1);
  --customcolorspurplepurple-3: rgba(180, 104, 255, 1);
  --customcolorspurplepurple-4: rgba(155, 54, 255, 1);
  --customcolorspurplepurple-5: rgba(121, 0, 242, 1);
  --customcolorspurplepurple-7: rgba(65, 0, 130, 1);
  --customcolorspurplepurple-8: rgba(55, 0, 111, 1);
  --customcolorspurplepurple-9: rgba(47, 0, 94, 1);
  --customcolorsredprimary-red: rgba(255, 59, 59, 1);
  --customcolorsredred-1: rgba(255, 209, 209, 1);
  --customcolorsredred-10: rgba(164, 0, 0, 1);
  --customcolorsredred-2: rgba(255, 193, 193, 1);
  --customcolorsredred-3: rgba(255, 172, 172, 1);
  --customcolorsredred-4: rgba(255, 145, 145, 1);
  --customcolorsredred-5: rgba(255, 108, 108, 1);
  --customcolorsredred-7: rgba(255, 12, 12, 1);
  --customcolorsredred-8: rgba(227, 0, 0, 1);
  --customcolorsredred-9: rgba(193, 0, 0, 1);
  --customcolorstealprimary-teal: rgba(0, 183, 196, 1);
  --customcolorstealteal-1: rgba(180, 250, 255, 1);
  --customcolorstealteal-10: rgba(0, 95, 102, 1);
  --customcolorstealteal-2: rgba(156, 248, 255, 1);
  --customcolorstealteal-3: rgba(122, 246, 255, 1);
  --customcolorstealteal-4: rgba(78, 243, 255, 1);
  --customcolorstealteal-5: rgba(19, 239, 255, 1);
  --customcolorstealteal-7: rgba(0, 155, 166, 1);
  --customcolorstealteal-8: rgba(0, 132, 141, 1);
  --customcolorstealteal-9: rgba(0, 112, 120, 1);
  --customcolorsyellowprimary-yellow: rgba(255, 195, 47, 1);
  --customcolorsyellowyellow-1: rgba(255, 241, 206, 1);
  --customcolorsyellowyellow-10: rgba(158, 113, 0, 1);
  --customcolorsyellowyellow-2: rgba(255, 236, 189, 1);
  --customcolorsyellowyellow-3: rgba(255, 230, 167, 1);
  --customcolorsyellowyellow-4: rgba(255, 222, 138, 1);
  --customcolorsyellowyellow-5: rgba(255, 211, 99, 1);
  --customcolorsyellowyellow-7: rgba(255, 183, 2, 1);
  --customcolorsyellowyellow-8: rgba(218, 156, 0, 1);
  --customcolorsyellowyellow-9: rgba(185, 133, 0, 1);
  --dark-dark-3: rgba(143, 144, 166, 1);
  --dark-elevation-00: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --dark-elevation-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.32), 0px 0px 1px 0px rgba(40, 41, 61, 0.08);
  --dark-elevation-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.32), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
  --dark-elevation-3: 0px 4px 8px 0px rgba(0, 0, 0, 0.32), 0px 0px 2px 0px rgba(0, 0, 0, 0.04);
  --dark-elevation-4: 0px 8px 16px 0px rgba(0, 0, 0, 0.32), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  --dark-elevation-5: 0px 16px 24px 0px rgba(0, 0, 0, 0.32), 0px 2px 8px 0px rgba(0, 0, 0, 0.04);
  --dark-elevation-6: 0px 20px 32px 0px rgba(0, 0, 0, 0.32), 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
  --darkdark-0: rgba(28, 28, 40, 1);
  --display-display-1-font-family: "Inter-Bold", Helvetica;
  --display-display-1-font-size: 64px;
  --display-display-1-font-style: normal;
  --display-display-1-font-weight: 700;
  --display-display-1-letter-spacing: 0px;
  --display-display-1-line-height: 56px;
  --display-display-2-font-family: "Inter-Regular", Helvetica;
  --display-display-2-font-size: 56px;
  --display-display-2-font-style: normal;
  --display-display-2-font-weight: 400;
  --display-display-2-letter-spacing: 0px;
  --display-display-2-line-height: 56px;
  --elevation-00: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --elevation-1: ;
  --elevation-2: 0px 2px 4px 0px rgba(96, 97, 112, 0.16), 0px 0px 1px 0px rgba(40, 41, 61, 0.04);
  --elevation-3: 0px 4px 8px 0px rgba(96, 97, 112, 0.16), 0px 0px 2px 0px rgba(40, 41, 61, 0.04);
  --elevation-4: 0px 8px 16px 0px rgba(96, 97, 112, 0.16), 0px 2px 4px 0px rgba(40, 41, 61, 0.04);
  --elevation-5: 0px 16px 24px 0px rgba(96, 97, 112, 0.16), 0px 2px 8px 0px rgba(40, 41, 61, 0.04);
  --elevation-6: 0px 20px 32px 0px rgba(96, 97, 112, 0.24), 0px 2px 8px 0px rgba(40, 41, 61, 0.08);
  --elevation-elevation-1: 0px 4px 8px 0px rgba(5, 27, 68, 0.08);
  --headings-h1-bold-font-family: "Poppins-Bold", Helvetica;
  --headings-h1-bold-font-size: 34px;
  --headings-h1-bold-font-style: normal;
  --headings-h1-bold-font-weight: 700;
  --headings-h1-bold-letter-spacing: 0px;
  --headings-h1-bold-line-height: 129.99999523162842%;
  --headings-h1-regular-font-family: "Poppins-Regular", Helvetica;
  --headings-h1-regular-font-size: 34px;
  --headings-h1-regular-font-style: normal;
  --headings-h1-regular-font-weight: 400;
  --headings-h1-regular-letter-spacing: 0px;
  --headings-h1-regular-line-height: 129.99999523162842%;
  --headings-h2-bold-font-family: "Poppins-Bold", Helvetica;
  --headings-h2-bold-font-size: 26px;
  --headings-h2-bold-font-style: normal;
  --headings-h2-bold-font-weight: 700;
  --headings-h2-bold-letter-spacing: 0px;
  --headings-h2-bold-line-height: 135.0000023841858%;
  --headings-h2-regular-font-family: "Poppins-Regular", Helvetica;
  --headings-h2-regular-font-size: 26px;
  --headings-h2-regular-font-style: normal;
  --headings-h2-regular-font-weight: 400;
  --headings-h2-regular-letter-spacing: 0px;
  --headings-h2-regular-line-height: 135.0000023841858%;
  --headings-h3-bold-font-family: "Poppins-Bold", Helvetica;
  --headings-h3-bold-font-size: 22px;
  --headings-h3-bold-font-style: normal;
  --headings-h3-bold-font-weight: 700;
  --headings-h3-bold-letter-spacing: 0px;
  --headings-h3-bold-line-height: 139.9999976158142%;
  --headings-h3-regular-font-family: "Poppins-Regular", Helvetica;
  --headings-h3-regular-font-size: 22px;
  --headings-h3-regular-font-style: normal;
  --headings-h3-regular-font-weight: 400;
  --headings-h3-regular-letter-spacing: 0px;
  --headings-h3-regular-line-height: 139.9999976158142%;
  --headings-h4-bold-font-family: "Poppins-Bold", Helvetica;
  --headings-h4-bold-font-size: 18px;
  --headings-h4-bold-font-style: normal;
  --headings-h4-bold-font-weight: 700;
  --headings-h4-bold-letter-spacing: 0px;
  --headings-h4-bold-line-height: 145.00000476837158%;
  --headings-h4-regular-font-family: "Poppins-Regular", Helvetica;
  --headings-h4-regular-font-size: 18px;
  --headings-h4-regular-font-style: normal;
  --headings-h4-regular-font-weight: 400;
  --headings-h4-regular-letter-spacing: 0px;
  --headings-h4-regular-line-height: 145.00000476837158%;
  --headings-h5-bold-font-family: "Poppins-Bold", Helvetica;
  --headings-h5-bold-font-size: 16px;
  --headings-h5-bold-font-style: normal;
  --headings-h5-bold-font-weight: 700;
  --headings-h5-bold-letter-spacing: 0px;
  --headings-h5-bold-line-height: 150%;
  --headings-h5-regular-font-family: "Poppins-Regular", Helvetica;
  --headings-h5-regular-font-size: 16px;
  --headings-h5-regular-font-style: normal;
  --headings-h5-regular-font-weight: 400;
  --headings-h5-regular-letter-spacing: 0px;
  --headings-h5-regular-line-height: 150%;
  --headings-h6-bold-font-family: "Poppins-Bold", Helvetica;
  --headings-h6-bold-font-size: 14px;
  --headings-h6-bold-font-style: normal;
  --headings-h6-bold-font-weight: 700;
  --headings-h6-bold-letter-spacing: 0px;
  --headings-h6-bold-line-height: 150%;
  --headings-h6-regular-font-family: "Poppins-Regular", Helvetica;
  --headings-h6-regular-font-size: 14px;
  --headings-h6-regular-font-style: normal;
  --headings-h6-regular-font-weight: 400;
  --headings-h6-regular-letter-spacing: 0px;
  --headings-h6-regular-line-height: 150%;
  --label-lg-bold-font-family: "Poppins-Bold", Helvetica;
  --label-lg-bold-font-size: 18px;
  --label-lg-bold-font-style: normal;
  --label-lg-bold-font-weight: 700;
  --label-lg-bold-letter-spacing: 0px;
  --label-lg-bold-line-height: 24px;
  --label-lg-medium-font-family: "Poppins-Medium", Helvetica;
  --label-lg-medium-font-size: 18px;
  --label-lg-medium-font-style: normal;
  --label-lg-medium-font-weight: 500;
  --label-lg-medium-letter-spacing: 0px;
  --label-lg-medium-line-height: 24px;
  --label-lg-regular-font-family: "Poppins-Regular", Helvetica;
  --label-lg-regular-font-size: 18px;
  --label-lg-regular-font-style: normal;
  --label-lg-regular-font-weight: 400;
  --label-lg-regular-letter-spacing: 0px;
  --label-lg-regular-line-height: 24px;
  --label-md-bold-font-family: "Poppins-Bold", Helvetica;
  --label-md-bold-font-size: 16px;
  --label-md-bold-font-style: normal;
  --label-md-bold-font-weight: 700;
  --label-md-bold-letter-spacing: 0px;
  --label-md-bold-line-height: 20px;
  --label-md-medium-font-family: "Poppins-Medium", Helvetica;
  --label-md-medium-font-size: 16px;
  --label-md-medium-font-style: normal;
  --label-md-medium-font-weight: 500;
  --label-md-medium-letter-spacing: 0px;
  --label-md-medium-line-height: 19px;
  --label-md-regular-font-family: "Poppins-Regular", Helvetica;
  --label-md-regular-font-size: 16px;
  --label-md-regular-font-style: normal;
  --label-md-regular-font-weight: 400;
  --label-md-regular-letter-spacing: 0px;
  --label-md-regular-line-height: 20px;
  --label-sm-bold-font-family: "Poppins-Bold", Helvetica;
  --label-sm-bold-font-size: 14px;
  --label-sm-bold-font-style: normal;
  --label-sm-bold-font-weight: 700;
  --label-sm-bold-letter-spacing: 0px;
  --label-sm-bold-line-height: 18px;
  --label-sm-medium-font-family: "Poppins-Medium", Helvetica;
  --label-sm-medium-font-size: 14px;
  --label-sm-medium-font-style: normal;
  --label-sm-medium-font-weight: 500;
  --label-sm-medium-letter-spacing: 0px;
  --label-sm-medium-line-height: 18px;
  --label-sm-regular-font-family: "Poppins-Regular", Helvetica;
  --label-sm-regular-font-size: 14px;
  --label-sm-regular-font-style: normal;
  --label-sm-regular-font-weight: 400;
  --label-sm-regular-letter-spacing: 0px;
  --label-sm-regular-line-height: 18px;
  --label-xl-bold-font-family: "Poppins-Bold", Helvetica;
  --label-xl-bold-font-size: 20px;
  --label-xl-bold-font-style: normal;
  --label-xl-bold-font-weight: 700;
  --label-xl-bold-letter-spacing: 0px;
  --label-xl-bold-line-height: 24px;
  --label-xl-medium-font-family: "Poppins-Medium", Helvetica;
  --label-xl-medium-font-size: 20px;
  --label-xl-medium-font-style: normal;
  --label-xl-medium-font-weight: 500;
  --label-xl-medium-letter-spacing: 0px;
  --label-xl-medium-line-height: 24px;
  --label-xl-regular-font-family: "Poppins-Regular", Helvetica;
  --label-xl-regular-font-size: 20px;
  --label-xl-regular-font-style: normal;
  --label-xl-regular-font-weight: 400;
  --label-xl-regular-letter-spacing: 0px;
  --label-xl-regular-line-height: 24px;
  --label-xs-bold-font-family: "Poppins-Bold", Helvetica;
  --label-xs-bold-font-size: 12px;
  --label-xs-bold-font-style: normal;
  --label-xs-bold-font-weight: 700;
  --label-xs-bold-letter-spacing: 0px;
  --label-xs-bold-line-height: 14px;
  --label-xs-medium-font-family: "Poppins-Medium", Helvetica;
  --label-xs-medium-font-size: 12px;
  --label-xs-medium-font-style: normal;
  --label-xs-medium-font-weight: 500;
  --label-xs-medium-letter-spacing: 0px;
  --label-xs-medium-line-height: 14px;
  --label-xs-regular-font-family: "Poppins-Regular", Helvetica;
  --label-xs-regular-font-size: 12px;
  --label-xs-regular-font-style: normal;
  --label-xs-regular-font-weight: 400;
  --label-xs-regular-letter-spacing: 0px;
  --label-xs-regular-line-height: 14px;
  --large-label-font-family: "Inter-Medium", Helvetica;
  --large-label-font-size: 14px;
  --large-label-font-style: normal;
  --large-label-font-weight: 500;
  --large-label-letter-spacing: 0px;
  --large-label-line-height: 24px;
  --light-light-4: rgba(255, 255, 255, 1);
  --other-tiny-bold-font-family: "Poppins-Bold", Helvetica;
  --other-tiny-bold-font-size: 10px;
  --other-tiny-bold-font-style: normal;
  --other-tiny-bold-font-weight: 700;
  --other-tiny-bold-letter-spacing: 0px;
  --other-tiny-bold-line-height: 24px;
  --other-tiny-regular-font-family: "Poppins-Regular", Helvetica;
  --other-tiny-regular-font-size: 10px;
  --other-tiny-regular-font-style: normal;
  --other-tiny-regular-font-weight: 400;
  --other-tiny-regular-letter-spacing: 0px;
  --other-tiny-regular-line-height: 154.99999523162842%;
  --stylized-small-font-family: "Inter-Regular", Helvetica;
  --stylized-small-font-size: 12px;
  --stylized-small-font-style: normal;
  --stylized-small-font-weight: 400;
  --stylized-small-letter-spacing: 0px;
  --stylized-small-line-height: normal;
}
